<h3>All Videos</h3>
<ul class="video_list list-unstyled list-inline">
  <% @vidyas.each do |f| %>
    <li class="">
      <a href="<%= video_path(f,action:"show") %>">
        <img
          class="media"
          src="http://img.youtube.com/vi/<%= f.url %>/default.jpg"
          alt="<%= f.name %>"
          title="<%= f.name %>"/><br/>
        <strong><%= f.name %></strong>
      </a>
    </li>
  <%end %>
</ul>
