<h1>New Video</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Youtube Video</h3>
  </div>
  <strong><%= @error.inspect %></strong>
  <div class="panel-body">
    <%= form_for :video_data, url: videos_path do |f| %>
      <div class="form-group">
        <label for="videoName">Video Name</label>
        <%= f.text_field "name", "class" => "form-control", "id" => "videoName", "placeholder" => "Video Name" %>
      </div>
      <div class="form-group">
        <label for="videoName">Video URL</label>
        <%= f.text_field "url", "class" => "form-control", "id" => "videoLink", "placeholder" => "Video URL" %>
      </div>
      <%= f.submit "class"=>"btn btn-success","value"=>"Save" %>
    <% end %>
  </div>
</div>
