<h1 class="col-md-12"><%= @vidya.name %></h1>

<div class="col-md-12">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @vidya.url %>" allowfullscreen=""></iframe>
  </div>
</div>

<div class="col-md-12 video_view_meta">
  <span>
    <strong>Views: <%= @vidya.view_count %></strong>
  </span>
  <span>
    <%= link_to 'Edit', edit_video_path(@vidya) %>
  </span>
  <span>
    <%= link_to 'Delete', video_path(@vidya), method: :delete %>
  </span>
</div>

<h4>More Videos</h4>

<ul class="video_list list-unstyled list-inline">
  <% @vidyas.each do |f| %>
    <li class="">
      <a href="<%= video_path(f,action:"show") %>">
        <img
          class="media"
          src="http://img.youtube.com/vi/<%= f.url %>/default.jpg"
          alt="<%= f.name %>"
          title="<%= f.name %>"/><br/>
        <strong><%= f.name %></strong>
      </a>
    </li>
  <%end %>
</ul>
