<!DOCTYPE html>
<html>
<head>
  <title>
    <% if not defined?(@title) then %>
    Ozark Web Theatre
    <% else %>
    <%= @title %>
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/">Home</a>
          </li>
          <li role="presentation">
            <a href="/videos">Videos</a>
          </li>
          <li role="presentation">
            <a href="/videos/new">Add A Video</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">We Tube</h3>
    </div>
    <%= yield %>
    <footer class="footer navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <span class="navbar-text">Ozark Web Developers, LLC 2015</span>
      </div>
    </footer>
  </div>
</body>
</html>
